In [1]:
from modules.data import Documents
# Load the dataset
doc_file = './data/kaggle_news_rouge1.pkl'
docs = Documents(doc_file, vocab_size = 30000)

doc_length = []
for doc in docs:
    doc_length.append(len(doc))

In [2]:
import pandas as pd
df = pd.DataFrame(doc_length)

In [3]:
df.describe()

                 0
count  4396.000000
mean     14.305960
std      21.375198
min       1.000000
25%       6.000000
50%      11.000000
75%      17.000000
max     696.000000